body{
    font-family: Roboto;
}
h1{
    font-family: Roboto;
}
p{
    font-family: Roboto;
}

.ativo{
    border-bottom: solid 3px #707070;
}

.header-site{
    background-image: url("../img/bd-mario.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}
.middle-site{
    padding-top: 200px;
    padding-bottom: 200px;
}
.imagem{
    height: 400px;
}
.mm-site{
    background-image: url("../img/bd-2.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 200px;
}
.footer-site{
    background-color: #333333;
    color: #ffffff;
    padding-bottom: 50px;
    padding-top: 50px;
}

/*portfolio*/
.portfolio{
    padding-top: 200px;
    padding-bottom: 200px;
}
.hr-port{
    border-color: #343a40;
    border-width: 3px;
    width: 20% ;
}
/*fim portfolio*/